<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="{{ url_for("static", filename="css/normalize.css") }}">
  <link rel="stylesheet" href="{{ url_for("static", filename="css/skeleton.css") }}">
  <link rel="stylesheet" href="{{ url_for("static", filename="css/style.css") }}">
  <link rel="icon" type="image/png" href="{{ url_for("static", filename="dino.png") }}">
  <link rel="icon" type="image/png" href="{{ url_for("static", filename="coin.jpg") }}">
  <link href="https://fonts.googleapis.com/css?family=Unlock" rel="stylesheet">

  <link href="http://cdn.pydata.org/bokeh/release/bokeh-0.12.5.min.css" rel="stylesheet">
  <link href="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.0.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.pydata.org/bokeh/release/bokeh-0.12.14.min.css" type="text/css" />
  <link rel="stylesheet" href="https://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.14.min.css" type="text/css" />
  <link rel="stylesheet" href="https://cdn.pydata.org/bokeh/release/bokeh-tables-0.12.14.min.css" type="text/css">

  <title>Stock Portfolio</title>
</head>
<body>
  <header>
    <nav class="main_nav">
      <ul>
        <li><a href="{{ url_for(".home") }}">Home</a></li>
        {% if g.user %}
        <li><a href="{{ url_for(".company_search") }}">Search</a></li>
        <li><a href="{{ url_for(".portfolio_detail") }}">Portfolio</a></li>
        <li><a href="{{ url_for(".logout") }}">Logout</a></li>
        {% else %}
        <li><a href="{{ url_for(".register") }}">Register</a></li>
        <li><a href="{{ url_for(".login") }}">Login</a></li>
        {% endif %}
      </ul>
    </nav>
  </header>
  <main>
    {% for message in get_flashed_messages() %}
      <div class="flashed container">{{ message }}</div>
    {% endfor %}

    {% block content %}
      <h3>No Content</h3>
    {% endblock content%}
  </main>
  <footer>

  </footer>
</body>
</html>
