{% extends 'base.html' %}

{% block content %}
<div class="container">
  <h2>Welcome to the Portfolio</h2>

  {% for company in company %}
    <div class="city">
      <p>symbol: {{ company.symbol }}</p>
      <p>name: {{ company.companyName }}</p>
      <p>exchange: {{ company.exchange }}</p>
      <p>industry: {{ company.industry }}</p>
      <p>website: {{ company.website }}</p>
      <p>description: {{ company.description }}</p>
      <p>CEO: {{ company.CEO }}</p>
      <p>issueType: {{ company.issueType }}</p>
      <p>sector: {{ company.sector }}</p>
    </div>
  {% endfor %}
</div>
{% endblock content %}
