{% extends 'base.html' %}

{% block content %}
<div class="container">
  <h2 class="portfolio-create-new">Welcome to the Portfolio</h2>

  <!-- Here is the form to create a new portfolio.-->
  <div class="portfolio-create-new">
    <h5>You can create a new portfolio here. </h5>
    <form action="{{ url_for(".portfolio_detail") }}" method="POST">
      {{ form.hidden_tag() }}
      {{ form.name.label }}{{ form.name(size=20) }}
      <input type="submit" name="create_category" id="create_category" value="Create">
    </form>
  </div>

  <div>
    {% for company in companies %}
      <div class="company">
        <h2>Portfolio: {{ company.portfolio.name }}</h2>

      <!-- Here is the form to see chart.-->
        <a href={{ url_for(".stock_chart", symbol=company.symbol) }}> See Stock Chart </a>

        <p>Name: {{ company.companyName }}</p>
        <p>Symbol: {{ company.symbol }}</p>
        <p>Exchange: {{ company.exchange }}</p>
        <p>Industry: {{ company.industry }}</p>
        <p>Website: {{ company.website }}</p>
        <p>Description: {{ company.description }}</p>
        <p>CEO: {{ company.CEO }}</p>

      </div>
    {% endfor %}
  </div>
</div>
{% endblock content %}
